<html>
<head>
</head>
<body>
  <div class="profile">
    <div>
      <h1> <%= dig :profile, :name %></h1>
      <h2> <%= dig :profile, :title %></h2>
      <p> <%= dig :profile, :about %></p>
    </div>
    <div class="contact">
      <p>Mob: <%= dig :contact, :mobile %></p>
    </div>
    <hr>
  </div>
</body>
</html>